$step_height: 50px;
#launch-screen {
  background: #fff;
  width: 800px;
  height: 800px;
  margin: calc((100vh - 800px) / 2) auto;
  top: 0;
  padding: 3rem 4rem;
  box-shadow: 0 0 1rem rgba($black, 0.5);
  position: relative;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;

  &.flex-start {
    // justify-content: flex-start;
  }

  .network-status {
    width: 40px;
    height: 40px;
    background: $grey_light;
    border-radius: 50%;
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;

    &.disconnected {
      background: $error;
    }

    img {
      max-width: 50%;
    }
  }

  .logo {
    height: 45px;
  }

  .process-steps {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    position: relative;
    list-style: none;
    padding-left: 0;

    &:after {
      content: '';
      height: 1.5px;
      background-color: $grey_light;
      width: 450px;
      position: absolute;
      top: 20%;
      z-index: 0;
    }
  }

  .step {
    position: relative;
    z-index: 1;
    background: #fff;
    padding: 5px 0;
    flex-basis: 14%;

    .step-spinner {
      margin: 0 auto;
      width: $step_height;
      height: $step_height;
      background: $grey_med;
      border-radius: 50%;
      color: #fff;
      font-size: 1.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;

      &.active {
        background-color: #fff;
        border: solid 2px $purple;
        border-right-color: $white;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-name: spin;
      }

      &.complete {
        background: $success;
        &:before {
          content: '';
          width: $step_height;
          height: $step_height;
          border-radius: 50%;
          background-color: $success;
          position: absolute;
          background-image: url(../assets/icons/success-check.svg);
          background-position: center;
          background-repeat: no-repeat;
        }
      }

      &.error {
        background: $error;
      }
    }

    .step-label {
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.25;
      color: $bezel;
    }
  }

  .launch-message-container {
    font-size: 1rem;
    margin: 1rem;
    font-weight: 300;
  }

  .invite-code-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input.invite-code-input {
      font-size: 4rem;
      text-align: center;
      letter-spacing: 1rem;
      display: inline-block;
      padding: 0;
      background-color: $grey_light;
      text-transform: uppercase;
      border-radius: 5px;
      height: auto;

      &:focus {
        background-color: $white;
      }
    }

    span {
      display: none;
    }

    #inviteCodeInput__label {
      @include focusable();
      display: flex;
      justify-content: center;
      width: 80%;
    }
  }

  footer.launch-footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1rem;
    font-size: 12px;
    color: $grey_med;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
