input[type='radio'] {
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.orientation-input {
  padding: 0 10px;
}

.fwi-radio-button-label {
  font-size: $base_font_size;
  margin-left: 0.75rem;
  display: inline-flex;
  align-items: center;

  &:focus {
    border: none;
    outline: none;

    input[type='radio']:before {
      box-shadow: $focus_border;
      outline: none;
      border: none;
    }
  }

  span.radio-container {
    position: relative;
  }

  input[type='radio'] {
    width: 32px;
    height: 32px;
    border: solid 2px transparent;

    &:before {
      content: '';
      position: absolute;
      width: 32px;
      height: 32px;
      background: $white;
      border: solid 2px $grey_light;
      border-radius: 50%;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 1.7rem;
      line-height: 2;
      letter-spacing: 1.05px;
    }

    &:checked::before {
      content: '';
      background: white;
      border: solid 10px $purple;
    }
  }

  span.label {
    margin: 0 0.25rem;
  }
}

.fwi-radio-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
