body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: $base_font_size;
  background: $grey_light;
  color: $black;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#root,
.App {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
