table {
  width: 90%;
  margin: auto;
  text-align: left;
  font-weight: normal;
  border-collapse: separate;
  border-spacing: 0 15px;

  thead {
    color: $grey_med;
    border-bottom: solid 15px transparent;
  }

  th {
    padding: 0.25rem 1.8rem;
    font-weight: normal;
    font-style: italic;
    font-size: 0.85rem;

    &:last-child {
      text-align: right;
    }
  }

  tbody {
    tr {
      background-color: $grey_extra_light;
      font-weight: normal;

      td {
        padding: 0.75rem 1.8rem;

        &:first-child {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          padding-left: 1.8rem;
        }

        &:last-child {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          text-align: right;
          padding-right: 1.8rem;
        }
      }
    }
  }

  tr button,
  th button {
    margin: 0;
    transform: scale(0.85);
    min-width: 95px;
  }

  td button {
    padding: 0.75rem 1rem;
  }

  &.disabled {
    opacity: 0.4;
  }
}
