body.brightsign {
  .time.segmented-number-input label.fwi-toggle input[type='checkbox'] {
    top: -3px !important;
  }
}

body.samsung {
  .time.segmented-number-input label.fwi-toggle input[type='checkbox'] {
    top: -3px !important;
  }
}

// body.lge {}

// body.browser {}
